FedSystems/FedNow/schemas/pacs.008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08" 
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08" 
           elementFormDefault="qualified">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FIToFICstmrCdtTrf">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId" type="xs:string"/>
                    <xs:element name="CreDtTm" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CdtTrfTxInf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EndToEndId" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IntrBkSttlmAmt">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="Ccy" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAgt" type="BankInfo"/>
                    <xs:element name="Dbtr" type="PartyInfo"/>
                    <xs:element name="DbtrAcct" type="AcctInfo"/>
                    <xs:element name="CdtrAgt" type="BankInfo"/>
                    <xs:element name="Cdtr" type="PartyInfo"/>
                    <xs:element name="CdtrAcct" type="AcctInfo"/>
                    <xs:element name="RmtInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ustrd" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element name="FinInstnId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ClrSysMmbId">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="nm" type="xs:string"/>
                  <xs:element name="MmbId" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyInfo">
    <xs:sequence>
      <xs:element name="Nm" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcctInfo">
    <xs:sequence>
      <xs:element name="Id">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Othr">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Id" type="xs:string"/>
                  <xs:element name="SchmeNm">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Prtry" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>