FedSystems/FedNow/schemas/pain.014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.014.001.07" 
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.014.001.07" 
           elementFormDefault="qualified">

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CdtrPmtActvtnRpt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId" type="xs:string"/>
                    <xs:element name="CreDtTm" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrgnlGrpInfAndSts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrgnlMsgId" type="xs:string"/>
                    <xs:element name="GrpSts" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TxInfAndSts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StsId" type="xs:string"/>
                    <xs:element name="OrgnlEndToEndId" type="xs:string"/>
                    <xs:element name="TxSts" type="xs:string"/>
                    <xs:element name="AccptncDtTm" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>